@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    /* Primary Colors */
    --primary-white: #FDFFFC;
    --primary-gray:#dfdfdf;
    --primary-black: #1B1B1B;
    --primary-background-color:#fbfbfb;
  }
}

/* Multi line ellipsis class for common usage */
.ellipsis-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* SweetAlert2 Toast Position - Bottom Right */
.swal2-container.swal2-bottom-end {
  bottom: 1em !important;
  right: 1em !important;
  top: auto !important;
  left: auto !important;
}

/* Hide scrollbar utility */
@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}



@layer base {
  * {
    border-color: var(--primary-gray);
  }

  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  body {
    background-color: var(--primary-white);
    color: var(--primary-black);
    font-family: 'Bricolage Grotesque', sans-serif;
  }
}