name: Deploy to S3 + CloudFront

on:
  push:
    branches:
      - main # deploy only when main branch updates

jobs:
  deploy:
    runs-on: ubuntu-latest

    environment:
      name: ${{ github.ref == 'refs/heads/main' && 'production' }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        run: npm i

      - name: Build project
        run: npm run build

        env:
          VITE_MOCK_AUTH: false
          VITE_API_URL: ${{ secrets.VITE_API_URL }}

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Sync build folder to S3
        run: aws s3 sync ./dist s3://shivalik-app --delete

      - name: Invalidate CloudFront cache
        run: aws cloudfront create-invalidation --distribution-id EPLS5FH4YJ9FQ --paths "/*"
